.elementor-2149 .elementor-element.elementor-element-23273d8 {
    padding: 80px 120px 80px 120px;
}

.elementor-2149 .elementor-element.elementor-element-dc306cf .elementor-heading-title {
    font-family: var( --e-global-typography-secondary-font-family ), Sans-serif;
    font-size: var( --e-global-typography-secondary-font-size );
    font-weight: var( --e-global-typography-secondary-font-weight );
    text-transform: var( --e-global-typography-secondary-text-transform );
    line-height: var( --e-global-typography-secondary-line-height );
}

.elementor-2149 .elementor-element.elementor-element-59546c6 {
    --alignment: right;
    --path-stroke: #E8178A;
    --path-fill: transparent;
    --width: 200px;
    --rotate: 30deg;
    font-family: "Syne", Sans-serif;
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 4.9px;
    --word-spacing: 1px;
    --transition: 0.3s;
    --stroke-width: 0px;
    --stroke-transition: 0.3s;
    width: auto;
    max-width: auto;
    bottom: 0px;
}

body:not(.rtl) .elementor-2149 .elementor-element.elementor-element-59546c6 {
    right: 0px;
}

body.rtl .elementor-2149 .elementor-element.elementor-element-59546c6 {
    left: 0px;
}

.elementor-2149 .elementor-element.elementor-element-ef90f63 .elementor-button .elementor-align-icon-right {
    margin-left: 8px;
}

.elementor-2149 .elementor-element.elementor-element-ef90f63 .elementor-button .elementor-align-icon-left {
    margin-right: 8px;
}

.elementor-2149 .elementor-element.elementor-element-ef90f63 .elementor-button {
    font-family: var( --e-global-typography-352a874-font-family ), Sans-serif;
    font-size: var( --e-global-typography-352a874-font-size );
    font-weight: var( --e-global-typography-352a874-font-weight );
    line-height: var( --e-global-typography-352a874-line-height );
    letter-spacing: var( --e-global-typography-352a874-letter-spacing );
    word-spacing: var( --e-global-typography-352a874-word-spacing );
    fill: var( --e-global-color-59e79ae );
    color: var( --e-global-color-59e79ae );
    background-color: #000000;
    border-style: solid;
    border-color: #02010100;
}

.elementor-2149 .elementor-element.elementor-element-ef90f63 .elementor-button:hover,
.elementor-2149 .elementor-element.elementor-element-ef90f63 .elementor-button:focus {
    color: var( --e-global-color-primary );
    background-color: #11111100;
    border-color: var( --e-global-color-primary );
}

.elementor-2149 .elementor-element.elementor-element-ef90f63 .elementor-button:hover svg,
.elementor-2149 .elementor-element.elementor-element-ef90f63 .elementor-button:focus svg {
    fill: var( --e-global-color-primary );
}

.elementor-2149 .elementor-element.elementor-element-ef90f63 > .elementor-widget-container {
    margin: 136px 0px 0px 0px;
}

.elementor-2149 .elementor-element.elementor-element-d45cd43 {
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: var( --e-global-color-primary );
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 120px 80px 120px;
}

.elementor-2149 .elementor-element.elementor-element-d45cd43 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2149 .elementor-element.elementor-element-f92763d .m-neuron-gallery__thumbnail--link {
    padding-bottom: calc( 0.67 * 100% );
    margin-bottom: 24px;
}

.elementor-2149 .elementor-element.elementor-element-f92763d .l-neuron-grid {
    margin-right: calc(-120px / 2);
    margin-left: calc(-120px / 2);
    margin-bottom: -80px;
}

.elementor-2149 .elementor-element.elementor-element-f92763d .l-neuron-grid .l-neuron-grid__item {
    padding-right: calc(120px / 2);
    padding-left: calc(120px / 2);
}

.elementor-2149 .elementor-element.elementor-element-f92763d .l-neuron-grid__item {
    margin-bottom: 80px;
}

.elementor-2149 .elementor-element.elementor-element-f92763d .m-neuron-gallery__image-detail--caption {
    color: var( --e-global-color-primary );
    font-family: var( --e-global-typography-f5c7586-font-family ), Sans-serif;
    font-size: var( --e-global-typography-f5c7586-font-size );
    font-weight: var( --e-global-typography-f5c7586-font-weight );
    text-transform: var( --e-global-typography-f5c7586-text-transform );
    line-height: var( --e-global-typography-f5c7586-line-height );
    letter-spacing: var( --e-global-typography-f5c7586-letter-spacing );
    word-spacing: var( --e-global-typography-f5c7586-word-spacing );
}

.elementor-2149 .elementor-element.elementor-element-30e6f9a {
    padding: 72px 120px 136px 120px;
}

.elementor-2149 .elementor-element.elementor-element-ae08f9a .m-neuron-gallery__thumbnail--link {
    padding-bottom: calc( 0.62 * 100% );
}

.elementor-2149 .elementor-element.elementor-element-ae08f9a .neuron-swiper-button--prev {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.elementor-2149 .elementor-element.elementor-element-ae08f9a .neuron-swiper-button--next {
    top: 50%;
    left: 100%;
    transform: translateY(-50%) translateX(-100%);
}

.elementor-2149 .elementor-element.elementor-element-ae08f9a .neuron-swiper-dots {
    font-size: 8px;
    top: 100%;
    transform: translateX(-100%) translateY(-100%);
    left: 100%;
    margin-left: 45%;
    margin-top: 68px;
}

.elementor-2149 .elementor-element.elementor-element-ae08f9a.neuron-dots--style__scrollbar .swiper-scrollbar {
    height: 8px;
}

.elementor-2149 .elementor-element.elementor-element-ae08f9a.neuron-dots--style__progressbar .swiper-pagination {
    height: 8px;
}

.elementor-2149 .elementor-element.elementor-element-ae08f9a.neuron-dots--orientation__horizontal .neuron-swiper-dots .swiper-pagination-bullet:not(:last-child) {
    margin-right: 16px;
}

.elementor-2149 .elementor-element.elementor-element-ae08f9a.neuron-dots--orientation__vertical .neuron-swiper-dots .swiper-pagination-bullet:not(:last-child) {
    margin-bottom: 16px;
}

.elementor-2149 .elementor-element.elementor-element-ae08f9a .neuron-swiper-dots .swiper-pagination-bullet {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-primary );
}

.elementor-2149 .elementor-element.elementor-element-ae08f9a .neuron-swiper-dots .swiper-pagination-bullet:hover {
    background-color: #FFFFFF00;
}

.elementor-2149 .elementor-element.elementor-element-ae08f9a .neuron-swiper-dots .swiper-pagination-bullet-active {
    background-color: #FFFFFF00;
}

.elementor-2149 .elementor-element.elementor-element-ae08f9a.neuron-dots--style__scrollbar .swiper-scrollbar-drag {
    background-color: #FFFFFF00;
}

.elementor-2149 .elementor-element.elementor-element-ae08f9a.neuron-dots--style__progressbar .swiper-pagination-progressbar-fill {
    background-color: #FFFFFF00;
}

.elementor-2149 .elementor-element.elementor-element-ae08f9a .neuron-swiper-dots .swiper-pagination-bullet:hover,
.elementor-2149 .elementor-element.elementor-element-ae08f9a .neuron-swiper-dots .swiper-pagination-bullet-active {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
}

.elementor-2149 .elementor-element.elementor-element-ae08f9a > .elementor-widget-container {
    border-style: solid;
    border-color: var( --e-global-color-primary );
}

.elementor-bc-flex-widget .elementor-2149 .elementor-element.elementor-element-9d68410.elementor-column .elementor-widget-wrap {
    align-items: space-between;
}

.elementor-2149 .elementor-element.elementor-element-9d68410.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: space-between;
    align-items: space-between;
}

.elementor-2149 .elementor-element.elementor-element-9d68410 > .elementor-element-populated {
    margin: 0px 0px 0px 130px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 130px;
}

.elementor-2149 .elementor-element.elementor-element-0cda99e > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 24px;
}

.elementor-2149 .elementor-element.elementor-element-0cda99e > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-2149 .elementor-element.elementor-element-811524f .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family ), Sans-serif;
    font-size: var( --e-global-typography-primary-font-size );
    font-weight: var( --e-global-typography-primary-font-weight );
    text-transform: var( --e-global-typography-primary-text-transform );
    line-height: var( --e-global-typography-primary-line-height );
}

.elementor-2149 .elementor-element.elementor-element-36290bf .elementor-heading-title {
    font-family: var( --e-global-typography-f5c7586-font-family ), Sans-serif;
    font-size: var( --e-global-typography-f5c7586-font-size );
    font-weight: var( --e-global-typography-f5c7586-font-weight );
    text-transform: var( --e-global-typography-f5c7586-text-transform );
    line-height: var( --e-global-typography-f5c7586-line-height );
    letter-spacing: var( --e-global-typography-f5c7586-letter-spacing );
    word-spacing: var( --e-global-typography-f5c7586-word-spacing );
}

.elementor-2149 .elementor-element.elementor-element-2d4a7be .elementor-heading-title {
    color: var( --e-global-color-primary );
    font-family: "Syne", Sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 1.45em;
    letter-spacing: 0.4px;
}

.elementor-2149 .elementor-element.elementor-element-2d4a7be > .elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-2149 .elementor-element.elementor-element-ff5ea5d {
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: var( --e-global-color-primary );
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 72px 120px 136px 120px;
}

.elementor-2149 .elementor-element.elementor-element-ff5ea5d > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-2149 .elementor-element.elementor-element-645cd98.elementor-column .elementor-widget-wrap {
    align-items: space-between;
}

.elementor-2149 .elementor-element.elementor-element-645cd98.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: space-between;
    align-items: space-between;
}

.elementor-2149 .elementor-element.elementor-element-645cd98 > .elementor-element-populated {
    margin: 0px 130px 0px 0px;
    --e-column-margin-right: 130px;
    --e-column-margin-left: 0px;
}

.elementor-2149 .elementor-element.elementor-element-3578e45 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 24px;
}

.elementor-2149 .elementor-element.elementor-element-3578e45 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-2149 .elementor-element.elementor-element-9173e9b .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family ), Sans-serif;
    font-size: var( --e-global-typography-primary-font-size );
    font-weight: var( --e-global-typography-primary-font-weight );
    text-transform: var( --e-global-typography-primary-text-transform );
    line-height: var( --e-global-typography-primary-line-height );
}

.elementor-2149 .elementor-element.elementor-element-f3cf48a .elementor-heading-title {
    font-family: var( --e-global-typography-f5c7586-font-family ), Sans-serif;
    font-size: var( --e-global-typography-f5c7586-font-size );
    font-weight: var( --e-global-typography-f5c7586-font-weight );
    text-transform: var( --e-global-typography-f5c7586-text-transform );
    line-height: var( --e-global-typography-f5c7586-line-height );
    letter-spacing: var( --e-global-typography-f5c7586-letter-spacing );
    word-spacing: var( --e-global-typography-f5c7586-word-spacing );
}

.elementor-2149 .elementor-element.elementor-element-fcae8f3 .elementor-heading-title {
    color: var( --e-global-color-primary );
    font-family: "Syne", Sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 1.45em;
    letter-spacing: 0.4px;
}

.elementor-2149 .elementor-element.elementor-element-fcae8f3 > .elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-2149 .elementor-element.elementor-element-8934c2b .m-neuron-gallery__thumbnail--link {
    padding-bottom: calc( 0.62 * 100% );
}

.elementor-2149 .elementor-element.elementor-element-8934c2b .neuron-swiper-button--prev {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.elementor-2149 .elementor-element.elementor-element-8934c2b .neuron-swiper-button--next {
    top: 50%;
    left: 100%;
    transform: translateY(-50%) translateX(-100%);
}

.elementor-2149 .elementor-element.elementor-element-8934c2b .neuron-swiper-dots {
    font-size: 8px;
    top: 100%;
    transform: translateX(-100%) translateY(-100%);
    left: 100%;
    margin-left: 45%;
    margin-top: 68px;
}

.elementor-2149 .elementor-element.elementor-element-8934c2b.neuron-dots--style__scrollbar .swiper-scrollbar {
    height: 8px;
}

.elementor-2149 .elementor-element.elementor-element-8934c2b.neuron-dots--style__progressbar .swiper-pagination {
    height: 8px;
}

.elementor-2149 .elementor-element.elementor-element-8934c2b.neuron-dots--orientation__horizontal .neuron-swiper-dots .swiper-pagination-bullet:not(:last-child) {
    margin-right: 16px;
}

.elementor-2149 .elementor-element.elementor-element-8934c2b.neuron-dots--orientation__vertical .neuron-swiper-dots .swiper-pagination-bullet:not(:last-child) {
    margin-bottom: 16px;
}

.elementor-2149 .elementor-element.elementor-element-8934c2b .neuron-swiper-dots .swiper-pagination-bullet {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-primary );
}

.elementor-2149 .elementor-element.elementor-element-8934c2b .neuron-swiper-dots .swiper-pagination-bullet:hover {
    background-color: #FFFFFF00;
}

.elementor-2149 .elementor-element.elementor-element-8934c2b .neuron-swiper-dots .swiper-pagination-bullet-active {
    background-color: #FFFFFF00;
}

.elementor-2149 .elementor-element.elementor-element-8934c2b.neuron-dots--style__scrollbar .swiper-scrollbar-drag {
    background-color: #FFFFFF00;
}

.elementor-2149 .elementor-element.elementor-element-8934c2b.neuron-dots--style__progressbar .swiper-pagination-progressbar-fill {
    background-color: #FFFFFF00;
}

.elementor-2149 .elementor-element.elementor-element-8934c2b .neuron-swiper-dots .swiper-pagination-bullet:hover,
.elementor-2149 .elementor-element.elementor-element-8934c2b .neuron-swiper-dots .swiper-pagination-bullet-active {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
}

.elementor-2149 .elementor-element.elementor-element-8934c2b > .elementor-widget-container {
    border-style: solid;
    border-color: var( --e-global-color-primary );
}

.elementor-2149 .elementor-element.elementor-element-c3d71ff {
    padding: 72px 120px 136px 120px;
}

.elementor-2149 .elementor-element.elementor-element-3cbae7c .m-neuron-gallery__thumbnail--link {
    padding-bottom: calc( 0.62 * 100% );
}

.elementor-2149 .elementor-element.elementor-element-3cbae7c .neuron-swiper-button--prev {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.elementor-2149 .elementor-element.elementor-element-3cbae7c .neuron-swiper-button--next {
    top: 50%;
    left: 100%;
    transform: translateY(-50%) translateX(-100%);
}

.elementor-2149 .elementor-element.elementor-element-3cbae7c .neuron-swiper-dots {
    font-size: 8px;
    top: 100%;
    transform: translateX(-100%) translateY(-100%);
    left: 100%;
    margin-left: 45%;
    margin-top: 68px;
}

.elementor-2149 .elementor-element.elementor-element-3cbae7c.neuron-dots--style__scrollbar .swiper-scrollbar {
    height: 8px;
}

.elementor-2149 .elementor-element.elementor-element-3cbae7c.neuron-dots--style__progressbar .swiper-pagination {
    height: 8px;
}

.elementor-2149 .elementor-element.elementor-element-3cbae7c.neuron-dots--orientation__horizontal .neuron-swiper-dots .swiper-pagination-bullet:not(:last-child) {
    margin-right: 16px;
}

.elementor-2149 .elementor-element.elementor-element-3cbae7c.neuron-dots--orientation__vertical .neuron-swiper-dots .swiper-pagination-bullet:not(:last-child) {
    margin-bottom: 16px;
}

.elementor-2149 .elementor-element.elementor-element-3cbae7c .neuron-swiper-dots .swiper-pagination-bullet {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-primary );
}

.elementor-2149 .elementor-element.elementor-element-3cbae7c .neuron-swiper-dots .swiper-pagination-bullet:hover {
    background-color: #FFFFFF00;
}

.elementor-2149 .elementor-element.elementor-element-3cbae7c .neuron-swiper-dots .swiper-pagination-bullet-active {
    background-color: #FFFFFF00;
}

.elementor-2149 .elementor-element.elementor-element-3cbae7c.neuron-dots--style__scrollbar .swiper-scrollbar-drag {
    background-color: #FFFFFF00;
}

.elementor-2149 .elementor-element.elementor-element-3cbae7c.neuron-dots--style__progressbar .swiper-pagination-progressbar-fill {
    background-color: #FFFFFF00;
}

.elementor-2149 .elementor-element.elementor-element-3cbae7c .neuron-swiper-dots .swiper-pagination-bullet:hover,
.elementor-2149 .elementor-element.elementor-element-3cbae7c .neuron-swiper-dots .swiper-pagination-bullet-active {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
}

.elementor-2149 .elementor-element.elementor-element-3cbae7c > .elementor-widget-container {
    border-style: solid;
    border-color: var( --e-global-color-primary );
}

.elementor-bc-flex-widget .elementor-2149 .elementor-element.elementor-element-2b732c1.elementor-column .elementor-widget-wrap {
    align-items: space-between;
}

.elementor-2149 .elementor-element.elementor-element-2b732c1.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: space-between;
    align-items: space-between;
}

.elementor-2149 .elementor-element.elementor-element-2b732c1 > .elementor-element-populated {
    margin: 0px 0px 0px 130px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 130px;
}

.elementor-2149 .elementor-element.elementor-element-89af375 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 24px;
}

.elementor-2149 .elementor-element.elementor-element-89af375 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-2149 .elementor-element.elementor-element-25ccb34 .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family ), Sans-serif;
    font-size: var( --e-global-typography-primary-font-size );
    font-weight: var( --e-global-typography-primary-font-weight );
    text-transform: var( --e-global-typography-primary-text-transform );
    line-height: var( --e-global-typography-primary-line-height );
}

.elementor-2149 .elementor-element.elementor-element-3bf1432 .elementor-heading-title {
    font-family: var( --e-global-typography-f5c7586-font-family ), Sans-serif;
    font-size: var( --e-global-typography-f5c7586-font-size );
    font-weight: var( --e-global-typography-f5c7586-font-weight );
    text-transform: var( --e-global-typography-f5c7586-text-transform );
    line-height: var( --e-global-typography-f5c7586-line-height );
    letter-spacing: var( --e-global-typography-f5c7586-letter-spacing );
    word-spacing: var( --e-global-typography-f5c7586-word-spacing );
}

.elementor-2149 .elementor-element.elementor-element-85e9f93 .elementor-heading-title {
    color: var( --e-global-color-primary );
    font-family: "Syne", Sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 1.45em;
    letter-spacing: 0.4px;
}

.elementor-2149 .elementor-element.elementor-element-85e9f93 > .elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-2149 .elementor-element.elementor-element-fd2b123 {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 120px 96px 120px;
}

.elementor-2149 .elementor-element.elementor-element-fd2b123 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2149 .elementor-element.elementor-element-cd87b8b > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 96px;
}

.elementor-2149 .elementor-element.elementor-element-af3a7f7 .elementor-heading-title {
    font-family: "Syne", Sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 1.1em;
}

.elementor-2149 .elementor-element.elementor-element-34010ec > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 16px;
}

.elementor-2149 .elementor-element.elementor-element-b69b8bd .elementor-heading-title {
    font-family: var( --e-global-typography-secondary-font-family ), Sans-serif;
    font-size: var( --e-global-typography-secondary-font-size );
    font-weight: var( --e-global-typography-secondary-font-weight );
    text-transform: var( --e-global-typography-secondary-text-transform );
    line-height: var( --e-global-typography-secondary-line-height );
}

.elementor-2149 .elementor-element.elementor-element-583c9d9 .elementor-heading-title {
    font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size );
    font-weight: var( --e-global-typography-accent-font-weight );
    text-transform: var( --e-global-typography-accent-text-transform );
    line-height: var( --e-global-typography-accent-line-height );
    letter-spacing: var( --e-global-typography-accent-letter-spacing );
}

.elementor-2149 .elementor-element.elementor-element-dad2ffb > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 16px;
}

.elementor-2149 .elementor-element.elementor-element-2e01b64 .elementor-heading-title {
    font-family: var( --e-global-typography-secondary-font-family ), Sans-serif;
    font-size: var( --e-global-typography-secondary-font-size );
    font-weight: var( --e-global-typography-secondary-font-weight );
    text-transform: var( --e-global-typography-secondary-text-transform );
    line-height: var( --e-global-typography-secondary-line-height );
}

.elementor-2149 .elementor-element.elementor-element-c860827 .elementor-heading-title {
    font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size );
    font-weight: var( --e-global-typography-accent-font-weight );
    text-transform: var( --e-global-typography-accent-text-transform );
    line-height: var( --e-global-typography-accent-line-height );
    letter-spacing: var( --e-global-typography-accent-letter-spacing );
}

.elementor-2149 .elementor-element.elementor-element-80cac24 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 16px;
}

.elementor-2149 .elementor-element.elementor-element-9688167 .elementor-heading-title {
    font-family: var( --e-global-typography-secondary-font-family ), Sans-serif;
    font-size: var( --e-global-typography-secondary-font-size );
    font-weight: var( --e-global-typography-secondary-font-weight );
    text-transform: var( --e-global-typography-secondary-text-transform );
    line-height: var( --e-global-typography-secondary-line-height );
}

.elementor-2149 .elementor-element.elementor-element-d31b138 .elementor-heading-title {
    font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size );
    font-weight: var( --e-global-typography-accent-font-weight );
    text-transform: var( --e-global-typography-accent-text-transform );
    line-height: var( --e-global-typography-accent-line-height );
    letter-spacing: var( --e-global-typography-accent-letter-spacing );
}

.elementor-2149 .elementor-element.elementor-element-10e8449 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 16px;
}

.elementor-2149 .elementor-element.elementor-element-827a8b2 .elementor-heading-title {
    font-family: var( --e-global-typography-secondary-font-family ), Sans-serif;
    font-size: var( --e-global-typography-secondary-font-size );
    font-weight: var( --e-global-typography-secondary-font-weight );
    text-transform: var( --e-global-typography-secondary-text-transform );
    line-height: var( --e-global-typography-secondary-line-height );
}

.elementor-2149 .elementor-element.elementor-element-8802523 .elementor-heading-title {
    font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size );
    font-weight: var( --e-global-typography-accent-font-weight );
    text-transform: var( --e-global-typography-accent-text-transform );
    line-height: var( --e-global-typography-accent-line-height );
    letter-spacing: var( --e-global-typography-accent-letter-spacing );
}

:root {
    --page-title-display: none;
}

@media (min-width:721px){
    .elementor-2149 .elementor-element.elementor-element-34010ec {
        width: 15%;
    }

    .elementor-2149 .elementor-element.elementor-element-dad2ffb {
        width: 15%;
    }

    .elementor-2149 .elementor-element.elementor-element-80cac24 {
        width: 15%;
    }

    .elementor-2149 .elementor-element.elementor-element-10e8449 {
        width: 20%;
    }

    .elementor-2149 .elementor-element.elementor-element-b28a635 {
        width: 34.996%;
    }
}

@media (max-width:1441px){
    .elementor-2149 .elementor-element.elementor-element-dc306cf .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size );
        line-height: var( --e-global-typography-secondary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-ef90f63 .elementor-button {
        font-size: var( --e-global-typography-352a874-font-size );
        line-height: var( --e-global-typography-352a874-line-height );
        letter-spacing: var( --e-global-typography-352a874-letter-spacing );
        word-spacing: var( --e-global-typography-352a874-word-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-f92763d .m-neuron-gallery__image-detail--caption {
        font-size: var( --e-global-typography-f5c7586-font-size );
        line-height: var( --e-global-typography-f5c7586-line-height );
        letter-spacing: var( --e-global-typography-f5c7586-letter-spacing );
        word-spacing: var( --e-global-typography-f5c7586-word-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-9d68410 > .elementor-element-populated {
        margin: 0px 0px 0px 80px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 80px;
    }

    .elementor-2149 .elementor-element.elementor-element-811524f .elementor-heading-title {
        font-size: var( --e-global-typography-primary-font-size );
        line-height: var( --e-global-typography-primary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-36290bf .elementor-heading-title {
        font-size: var( --e-global-typography-f5c7586-font-size );
        line-height: var( --e-global-typography-f5c7586-line-height );
        letter-spacing: var( --e-global-typography-f5c7586-letter-spacing );
        word-spacing: var( --e-global-typography-f5c7586-word-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-645cd98 > .elementor-element-populated {
        margin: 0px 80px 0px 0px;
        --e-column-margin-right: 80px;
        --e-column-margin-left: 0px;
    }

    .elementor-2149 .elementor-element.elementor-element-9173e9b .elementor-heading-title {
        font-size: var( --e-global-typography-primary-font-size );
        line-height: var( --e-global-typography-primary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-f3cf48a .elementor-heading-title {
        font-size: var( --e-global-typography-f5c7586-font-size );
        line-height: var( --e-global-typography-f5c7586-line-height );
        letter-spacing: var( --e-global-typography-f5c7586-letter-spacing );
        word-spacing: var( --e-global-typography-f5c7586-word-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-2b732c1 > .elementor-element-populated {
        margin: 0px 0px 0px 80px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 80px;
    }

    .elementor-2149 .elementor-element.elementor-element-25ccb34 .elementor-heading-title {
        font-size: var( --e-global-typography-primary-font-size );
        line-height: var( --e-global-typography-primary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-3bf1432 .elementor-heading-title {
        font-size: var( --e-global-typography-f5c7586-font-size );
        line-height: var( --e-global-typography-f5c7586-line-height );
        letter-spacing: var( --e-global-typography-f5c7586-letter-spacing );
        word-spacing: var( --e-global-typography-f5c7586-word-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-b69b8bd .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size );
        line-height: var( --e-global-typography-secondary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-583c9d9 .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
        letter-spacing: var( --e-global-typography-accent-letter-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-2e01b64 .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size );
        line-height: var( --e-global-typography-secondary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-c860827 .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
        letter-spacing: var( --e-global-typography-accent-letter-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-9688167 .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size );
        line-height: var( --e-global-typography-secondary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-d31b138 .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
        letter-spacing: var( --e-global-typography-accent-letter-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-827a8b2 .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size );
        line-height: var( --e-global-typography-secondary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-8802523 .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
        letter-spacing: var( --e-global-typography-accent-letter-spacing );
    }
}

@media (max-width:1279px){
    .elementor-2149 .elementor-element.elementor-element-23273d8 {
        padding: 56px 30px 56px 30px;
    }

    .elementor-2149 .elementor-element.elementor-element-dc306cf .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size );
        line-height: var( --e-global-typography-secondary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-59546c6 {
        --width: 500px;
    }

    .elementor-2149 .elementor-element.elementor-element-ef90f63 .elementor-button {
        font-size: var( --e-global-typography-352a874-font-size );
        line-height: var( --e-global-typography-352a874-line-height );
        letter-spacing: var( --e-global-typography-352a874-letter-spacing );
        word-spacing: var( --e-global-typography-352a874-word-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-ef90f63 > .elementor-widget-container {
        margin: 80px 0px 0px 0px;
    }

    .elementor-2149 .elementor-element.elementor-element-d45cd43 {
        padding: 56px 30px 56px 30px;
    }

    .elementor-2149 .elementor-element.elementor-element-f92763d .l-neuron-grid {
        margin-right: calc(-40px / 2);
        margin-left: calc(-40px / 2);
        margin-bottom: -40px;
    }

    .elementor-2149 .elementor-element.elementor-element-f92763d .l-neuron-grid .l-neuron-grid__item {
        padding-right: calc(40px / 2);
        padding-left: calc(40px / 2);
    }

    .elementor-2149 .elementor-element.elementor-element-f92763d .l-neuron-grid__item {
        margin-bottom: 40px;
    }

    .elementor-2149 .elementor-element.elementor-element-f92763d .m-neuron-gallery__thumbnail--link {
        margin-bottom: 16px;
    }

    .elementor-2149 .elementor-element.elementor-element-f92763d .m-neuron-gallery__image-detail--caption {
        font-size: var( --e-global-typography-f5c7586-font-size );
        line-height: var( --e-global-typography-f5c7586-line-height );
        letter-spacing: var( --e-global-typography-f5c7586-letter-spacing );
        word-spacing: var( --e-global-typography-f5c7586-word-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-30e6f9a {
        padding: 56px 30px 56px 30px;
    }

    .elementor-2149 .elementor-element.elementor-element-ae08f9a .neuron-swiper-dots {
        top: 100%;
        transform: translateY(-100%);
        left: 0;
        margin-left: 0%;
        margin-top: 40px;
    }

    .elementor-2149 .elementor-element.elementor-element-9d68410 > .elementor-element-populated {
        margin: 80px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2149 .elementor-element.elementor-element-0cda99e > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 16px;
    }

    .elementor-2149 .elementor-element.elementor-element-811524f .elementor-heading-title {
        font-size: var( --e-global-typography-primary-font-size );
        line-height: var( --e-global-typography-primary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-36290bf .elementor-heading-title {
        font-size: var( --e-global-typography-f5c7586-font-size );
        line-height: var( --e-global-typography-f5c7586-line-height );
        letter-spacing: var( --e-global-typography-f5c7586-letter-spacing );
        word-spacing: var( --e-global-typography-f5c7586-word-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-2d4a7be > .elementor-widget-container {
        margin: 40px 0px 0px 0px;
    }

    .elementor-2149 .elementor-element.elementor-element-ff5ea5d {
        padding: 56px 30px 56px 30px;
    }

    .elementor-2149 .elementor-element.elementor-element-645cd98 > .elementor-element-populated {
        margin: 80px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2149 .elementor-element.elementor-element-3578e45 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 16px;
    }

    .elementor-2149 .elementor-element.elementor-element-9173e9b .elementor-heading-title {
        font-size: var( --e-global-typography-primary-font-size );
        line-height: var( --e-global-typography-primary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-f3cf48a .elementor-heading-title {
        font-size: var( --e-global-typography-f5c7586-font-size );
        line-height: var( --e-global-typography-f5c7586-line-height );
        letter-spacing: var( --e-global-typography-f5c7586-letter-spacing );
        word-spacing: var( --e-global-typography-f5c7586-word-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-fcae8f3 > .elementor-widget-container {
        margin: 40px 0px 0px 0px;
    }

    .elementor-2149 .elementor-element.elementor-element-8934c2b .neuron-swiper-dots {
        top: 100%;
        transform: translateY(-100%);
        left: 0;
        margin-left: 0%;
        margin-top: 40px;
    }

    .elementor-2149 .elementor-element.elementor-element-c3d71ff {
        padding: 56px 30px 56px 30px;
    }

    .elementor-2149 .elementor-element.elementor-element-3cbae7c .neuron-swiper-dots {
        top: 100%;
        transform: translateY(-100%);
        left: 0;
        margin-left: 0%;
        margin-top: 40px;
    }

    .elementor-2149 .elementor-element.elementor-element-2b732c1 > .elementor-element-populated {
        margin: 80px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2149 .elementor-element.elementor-element-89af375 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 16px;
    }

    .elementor-2149 .elementor-element.elementor-element-25ccb34 .elementor-heading-title {
        font-size: var( --e-global-typography-primary-font-size );
        line-height: var( --e-global-typography-primary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-3bf1432 .elementor-heading-title {
        font-size: var( --e-global-typography-f5c7586-font-size );
        line-height: var( --e-global-typography-f5c7586-line-height );
        letter-spacing: var( --e-global-typography-f5c7586-letter-spacing );
        word-spacing: var( --e-global-typography-f5c7586-word-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-85e9f93 > .elementor-widget-container {
        margin: 40px 0px 0px 0px;
    }

    .elementor-2149 .elementor-element.elementor-element-fd2b123 {
        padding: 120px 30px 80px 30px;
    }

    .elementor-2149 .elementor-element.elementor-element-cd87b8b > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 56px;
    }

    .elementor-2149 .elementor-element.elementor-element-af3a7f7 .elementor-heading-title {
        font-size: 50px;
    }

    .elementor-2149 .elementor-element.elementor-element-b69b8bd .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size );
        line-height: var( --e-global-typography-secondary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-583c9d9 .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
        letter-spacing: var( --e-global-typography-accent-letter-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-2e01b64 .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size );
        line-height: var( --e-global-typography-secondary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-c860827 .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
        letter-spacing: var( --e-global-typography-accent-letter-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-80cac24 > .elementor-element-populated {
        margin: 32px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2149 .elementor-element.elementor-element-9688167 .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size );
        line-height: var( --e-global-typography-secondary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-d31b138 .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
        letter-spacing: var( --e-global-typography-accent-letter-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-10e8449 > .elementor-element-populated {
        margin: 32px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2149 .elementor-element.elementor-element-827a8b2 .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size );
        line-height: var( --e-global-typography-secondary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-8802523 .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
        letter-spacing: var( --e-global-typography-accent-letter-spacing );
    }
}

@media (max-width:720px){
    .elementor-2149 .elementor-element.elementor-element-23273d8 {
        padding: 32px 20px 32px 20px;
    }

    .elementor-2149 .elementor-element.elementor-element-5f716a3 .elementor-heading-title {
        font-size: 48px;
    }

    .elementor-2149 .elementor-element.elementor-element-dc306cf .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size );
        line-height: var( --e-global-typography-secondary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-59546c6 {
        --width: 500px;
    }

    .elementor-2149 .elementor-element.elementor-element-ef90f63 .elementor-button {
        font-size: var( --e-global-typography-352a874-font-size );
        line-height: var( --e-global-typography-352a874-line-height );
        letter-spacing: var( --e-global-typography-352a874-letter-spacing );
        word-spacing: var( --e-global-typography-352a874-word-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-d45cd43 {
        padding: 40px 20px 40px 20px;
    }

    .elementor-2149 .elementor-element.elementor-element-f92763d .m-neuron-gallery__thumbnail--link {
        margin-bottom: 9px;
    }

    .elementor-2149 .elementor-element.elementor-element-f92763d .m-neuron-gallery__image-detail--caption {
        font-size: var( --e-global-typography-f5c7586-font-size );
        line-height: var( --e-global-typography-f5c7586-line-height );
        letter-spacing: var( --e-global-typography-f5c7586-letter-spacing );
        word-spacing: var( --e-global-typography-f5c7586-word-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-30e6f9a {
        padding: 40px 20px 40px 20px;
    }

    .elementor-2149 .elementor-element.elementor-element-ae08f9a .neuron-swiper-dots {
        margin-left: 0%;
        margin-top: 40px;
    }

    .elementor-2149 .elementor-element.elementor-element-ae08f9a > .elementor-widget-container {
        border-width: 1px 1px 1px 1px;
    }

    .elementor-2149 .elementor-element.elementor-element-9d68410 > .elementor-element-populated {
        margin: 80px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2149 .elementor-element.elementor-element-811524f .elementor-heading-title {
        font-size: var( --e-global-typography-primary-font-size );
        line-height: var( --e-global-typography-primary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-36290bf .elementor-heading-title {
        font-size: var( --e-global-typography-f5c7586-font-size );
        line-height: var( --e-global-typography-f5c7586-line-height );
        letter-spacing: var( --e-global-typography-f5c7586-letter-spacing );
        word-spacing: var( --e-global-typography-f5c7586-word-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-2d4a7be > .elementor-widget-container {
        margin: 24px 0px 0px 0px;
    }

    .elementor-2149 .elementor-element.elementor-element-ff5ea5d {
        padding: 40px 20px 40px 20px;
    }

    .elementor-2149 .elementor-element.elementor-element-9173e9b .elementor-heading-title {
        font-size: var( --e-global-typography-primary-font-size );
        line-height: var( --e-global-typography-primary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-f3cf48a .elementor-heading-title {
        font-size: var( --e-global-typography-f5c7586-font-size );
        line-height: var( --e-global-typography-f5c7586-line-height );
        letter-spacing: var( --e-global-typography-f5c7586-letter-spacing );
        word-spacing: var( --e-global-typography-f5c7586-word-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-fcae8f3 > .elementor-widget-container {
        margin: 24px 0px 0px 0px;
    }

    .elementor-2149 .elementor-element.elementor-element-8934c2b > .elementor-widget-container {
        border-width: 1px 1px 1px 1px;
    }

    .elementor-2149 .elementor-element.elementor-element-c3d71ff {
        padding: 40px 20px 40px 20px;
    }

    .elementor-2149 .elementor-element.elementor-element-3cbae7c > .elementor-widget-container {
        border-width: 1px 1px 1px 1px;
    }

    .elementor-2149 .elementor-element.elementor-element-2b732c1 > .elementor-element-populated {
        margin: 80px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2149 .elementor-element.elementor-element-25ccb34 .elementor-heading-title {
        font-size: var( --e-global-typography-primary-font-size );
        line-height: var( --e-global-typography-primary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-3bf1432 .elementor-heading-title {
        font-size: var( --e-global-typography-f5c7586-font-size );
        line-height: var( --e-global-typography-f5c7586-line-height );
        letter-spacing: var( --e-global-typography-f5c7586-letter-spacing );
        word-spacing: var( --e-global-typography-f5c7586-word-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-85e9f93 > .elementor-widget-container {
        margin: 24px 0px 0px 0px;
    }

    .elementor-2149 .elementor-element.elementor-element-fd2b123 {
        padding: 64px 20px 32px 20px;
    }

    .elementor-2149 .elementor-element.elementor-element-cd87b8b > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 40px;
    }

    .elementor-2149 .elementor-element.elementor-element-af3a7f7 .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-2149 .elementor-element.elementor-element-34010ec > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 8px;
    }

    .elementor-2149 .elementor-element.elementor-element-b69b8bd .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size );
        line-height: var( --e-global-typography-secondary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-583c9d9 .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
        letter-spacing: var( --e-global-typography-accent-letter-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-dad2ffb > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 8px;
    }

    .elementor-2149 .elementor-element.elementor-element-dad2ffb > .elementor-element-populated {
        margin: 24px 0px 24px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2149 .elementor-element.elementor-element-2e01b64 .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size );
        line-height: var( --e-global-typography-secondary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-c860827 .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
        letter-spacing: var( --e-global-typography-accent-letter-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-80cac24 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 8px;
    }

    .elementor-2149 .elementor-element.elementor-element-80cac24 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2149 .elementor-element.elementor-element-9688167 .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size );
        line-height: var( --e-global-typography-secondary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-d31b138 .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
        letter-spacing: var( --e-global-typography-accent-letter-spacing );
    }

    .elementor-2149 .elementor-element.elementor-element-10e8449 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 8px;
    }

    .elementor-2149 .elementor-element.elementor-element-10e8449 > .elementor-element-populated {
        margin: 24px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2149 .elementor-element.elementor-element-827a8b2 .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size );
        line-height: var( --e-global-typography-secondary-line-height );
    }

    .elementor-2149 .elementor-element.elementor-element-8802523 .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
        letter-spacing: var( --e-global-typography-accent-letter-spacing );
    }
}

@media (max-width:1279px) and (min-width:721px){
    .elementor-2149 .elementor-element.elementor-element-0e6133e {
        width: 100%;
    }

    .elementor-2149 .elementor-element.elementor-element-9d68410 {
        width: 100%;
    }

    .elementor-2149 .elementor-element.elementor-element-645cd98 {
        width: 100%;
    }

    .elementor-2149 .elementor-element.elementor-element-2d9857e {
        width: 100%;
    }

    .elementor-2149 .elementor-element.elementor-element-1c9d183 {
        width: 100%;
    }

    .elementor-2149 .elementor-element.elementor-element-2b732c1 {
        width: 100%;
    }

    .elementor-2149 .elementor-element.elementor-element-34010ec {
        width: 50%;
    }

    .elementor-2149 .elementor-element.elementor-element-dad2ffb {
        width: 50%;
    }

    .elementor-2149 .elementor-element.elementor-element-80cac24 {
        width: 50%;
    }

    .elementor-2149 .elementor-element.elementor-element-10e8449 {
        width: 50%;
    }
}

/* Start custom CSS for heading, class: .elementor-element-5f716a3 */
@media (max-width: 720px) {
    .elementor-2149 .elementor-element.elementor-element-5f716a3 br {
        display: none;
    }
}

/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-dc306cf */
@media (max-width: 720px) {
    .elementor-2149 .elementor-element.elementor-element-dc306cf br {
        display: none;
    }
}

/* End custom CSS */
/* Start custom CSS for text-path, class: .elementor-element-59546c6 */
@-moz-keyframes spin{
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin{
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin{
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.elementor-2149 .elementor-element.elementor-element-59546c6 {
    animation: spin 11s linear infinite;
}

/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-ef90f63 */
.elementor-2149 .elementor-element.elementor-element-ef90f63 svg {
    display: block;
    font-size: 32px;
}

.elementor-2149 .elementor-element.elementor-element-ef90f63 .elementor-button-content-wrapper {
    align-items: center;
}

/* End custom CSS */
/* Start custom CSS for neuron-gallery, class: .elementor-element-f92763d */
.elementor-2149 .elementor-element.elementor-element-f92763d img {
    border: 1px solid #111;
}

.elementor-2149 .elementor-element.elementor-element-f92763d .m-neuron-gallery__image-details {
    position: relative;
}

.elementor-2149 .elementor-element.elementor-element-f92763d .m-neuron-gallery__image-details:after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 30px;
    background: #111;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.elementor-2149 .elementor-element.elementor-element-f92763d .m-neuron-gallery__thumbnail--link {
    -webkit-transition: transform cubic-bezier(.4,0,.2,1) .35s;
    transition: transform cubic-bezier(.4,0,.2,1) .35s;
}

.elementor-2149 .elementor-element.elementor-element-f92763d .m-neuron-gallery__inner:hover .m-neuron-gallery__thumbnail--link {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

/* End custom CSS */
/* Start custom CSS for neuron-gallery, class: .elementor-element-ae08f9a */
@media (min-width: 1279px) {
    .elementor-2149 .elementor-element.elementor-element-ae08f9a .neuron-swiper-dots {
        width: 100%;
    }
}

/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-36290bf */
@media (max-width: 1441px) {
    .elementor-2149 .elementor-element.elementor-element-36290bf br {
        display: none;
    }
}

/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-2d4a7be */
.elementor-2149 .elementor-element.elementor-element-2d4a7be {
    text-underline-offset: 4px;
}

/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-f3cf48a */
@media (max-width: 1441px) {
    .elementor-2149 .elementor-element.elementor-element-f3cf48a br {
        display: none;
    }
}

/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-fcae8f3 */
.elementor-2149 .elementor-element.elementor-element-fcae8f3 {
    text-underline-offset: 4px;
}

/* End custom CSS */
/* Start custom CSS for neuron-gallery, class: .elementor-element-8934c2b */
@media (min-width: 1279px) {
    .elementor-2149 .elementor-element.elementor-element-8934c2b .neuron-swiper-dots {
        width: 100%;
    }
}

/* End custom CSS */
/* Start custom CSS for neuron-gallery, class: .elementor-element-3cbae7c */
@media (min-width: 1279px) {
    .elementor-2149 .elementor-element.elementor-element-3cbae7c .neuron-swiper-dots {
        width: 100%;
    }
}

/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-3bf1432 */
@media (max-width: 1441px) {
    .elementor-2149 .elementor-element.elementor-element-3bf1432 br {
        display: none;
    }
}

/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-85e9f93 */
.elementor-2149 .elementor-element.elementor-element-85e9f93 {
    text-underline-offset: 4px;
}

/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-af3a7f7 */
@media (max-width: 1279px) {
    .elementor-2149 .elementor-element.elementor-element-af3a7f7 br {
        display: none;
    }
}

/* End custom CSS */
/* Start custom CSS */
@media (min-width: 1280px) {
    body.page-id-2149 {
        margin-left: 80px;
    }
}

/* End custom CSS */